# Dependencies
node_modules
package-lock.json

# Build outputs
dist
dist-ssr
*.local

# Tauri build
/src-tauri/target

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database
*.db
*.db-shm
*.db-wal

# Logs
*.log
